.DS_Store
vendor/
build/

#
# emacs
#

/emacs/straight/
/emacs/elpa/
/emacs/auto-save-list/
/emacs/bookmarks
/emacs/projectile-bookmarks.eld
/emacs/tramp
/emacs/transient/
/emacs/forge-database.sqlite
/emacs/.cache/
/emacs/recentf
/emacs/.dap-breakpoints
/emacs/.lsp-session-*


# ignore GitHub API key
/emacs/forge-github-key
